*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    transition: .5s;
} 
html{ 
    scroll-behavior: smooth; 
} 
body{ 
    font-family: 'Livvic', sans-serif; 

} 
ul, ol{ 
    list-style-type: none; 
    padding-left: 0; 
} 
a{ 
    text-decoration: none; 
} 
.container{ 
    max-width: 1130px; 
    margin: 0 auto; 
    padding: 0 10px; 
}
.hidden__txt {
  display: none;
  text-align: center;
  margin-top: 200px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}
h1 {
  margin: 50px;
}
@media (max-width: 580px) {
  body {
    background: #000;
  }
  .container {
    display: none;
  }
  .hidden__txt {
    display: block;
    font-size: 50px;
    transition: .3s;
  }
}
@media (max-width: 460px) {
  .hidden__txt {
    font-size: 40px;
    transition: .3s;
  }
}
@media (max-width: 370px) {
  .hidden__txt {
    font-size: 30px;
    transition: .3s;
  }
}